<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="modal-view-product">
    <!-- Button trigger modal -->
<!--    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--        Launch static backdrop modal-->
<!--    </button>-->

    <!-- Modal -->
<!--    <textarea id="tempViewProduct" class="hide">-->
    <div class="modal fade" id="viewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide"></div>
                    <div class="x_content">

                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="product-image">
                                <img src="{5}" alt="..." />
                            </div>
                            <div class="product_gallery">
                                <a>
                                    <img src="{6}" alt="..." />
                                </a>
                                <a>
                                    <img src="{7}" alt="..." />
                                </a>
                                <a>
                                    <img src="{8}" alt="..." />
                                </a>
                                <a>
                                    <img src="{9}" alt="..." />
                                </a>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                            <h3 class="prod_title" id="nameView">{0}</h3>

                            <p>{1}</p>
                            <br />

                            <div class="">
                                <h2>Available Colors</h2>
                                <ul class="list-inline prod_color">
                                    <li>
                                        <p>Green</p>
                                        <div class="color bg-green"></div>
                                    </li>
                                    <li>
                                        <p>Blue</p>
                                        <div class="color bg-blue"></div>
                                    </li>
                                    <li>
                                        <p>Red</p>
                                        <div class="color bg-red"></div>
                                    </li>
                                    <li>
                                        <p>Orange</p>
                                        <div class="color bg-orange"></div>
                                    </li>

                                </ul>
                            </div>
                            <br />

                            <div class="">
                                <h2>Size <small>Please select one</small></h2>
                                <ul class="list-inline prod_size">
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">Small</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">Medium</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">Large</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-default btn-xs">Xtra-Large</button>
                                    </li>
                                </ul>
                            </div>
                            <br />

                            <div class="">
                                <div class="product_price">
                                    <h1 class="price">{3}</h1>
                                    <span class="price-tax"></span>
                                    <br>
                                </div>
                            </div>

                            <div class="">
                                <button type="button" class="btn btn-default btn-lg">Add to Cart</button>
                                <button type="button" class="btn btn-default btn-lg">Add to Wishlist</button>
                            </div>

                            <div class="product_social">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-envelope-square"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-rss-square"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <div class="col-md-12">

                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Home</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Profile</a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                                            synth. Cosby sweater eu banh mi, qui irure terr.</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                                            booth letterpress, commodo enim craft beer mlkshk aliquip</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                        <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                            photo booth letterpress, commodo enim craft beer mlkshk </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
<!--        </textarea>-->
</th:block>